<p id="notice"><%= notice %></p>

<p>
  <b>Guests:</b>
  <%= @booking.guests %>
</p>

<p>
  <b>Start time:</b>
  <%= @booking.start_time %>
</p>

<p>
  <b>End time:</b>
  <%= @booking.end_time %>
</p>

<p>
  <b>User:</b>
  <%= @booking.user_id %>
</p>

<p>
  <b>Restaurant:</b>
  <%= @booking.restaurant_id %>
</p>

<p>
  <b>Notes:</b>
  <%= @booking.notes %>
</p>


<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
